<%= render 'categorybanner', list: @list %>
<br>
<% @bookmarks.each_with_index do |bookmark, index| %>
  <p><%= "#{index+1}: #{bookmark.movie.title} - #{bookmark.comment}" %></p>
  <%= link_to 'Delete bookmark', [bookmark.list, bookmark],
              method: :delete,
              data: { confirm: "Are you sure?" } %>
<% end %>

<% @movies.each do |movie| %>
  <div class="container">
    <div class="row">
      <%= render 'card', movie: movie %>
    </div>
  </div>
<% end %>


<h3>Submit a comment</h3>
<%= simple_form_for @bookmark do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.association :list %>
  <%= f.button :submit, class: "btn btn-secondary" %>
<% end %>

<%= link_to 'Back to lists', lists_path, class: "btn btn-primary"%>
